
services:
  postgres:
    container_name: postgres_dbcontainer
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
       - ./db-config/01_schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
       - ./db-config/02_data.sql:/docker-entrypoint-initdb.d/02_data.sql
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
    postgres: